<div class="buttons">
  {{d-button label="Google Drive Downloader" route='admin.plugins.discourse-sync-to-googledrive.downloader'}}
  <!-- <a href="http://localhost:3000/admin/plugins/discourse-sync-to-googledrive/downloader">Google Drive Downloader</a> -->
</div>

<!-- {{nav-item route='admin.plugins.discourse-sync-to-googledrive.downloader' label='googledrive.backups'}} -->